@import "tailwindcss";

@font-face {
  font-family: 'Niagara Solid';
  src: url('/fonts/NiagaraSolid.ttf') format('truetype');
  font-display: swap;
}

@theme {
  --color-brand-gold: #E9AE41;
  --font-niagara: 'Niagara Solid', serif;
}