@import "tailwindcss";

@font-face {
  font-family: 'Niagara Solid';
  src: url('font/NiagaraSolid.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Miama';
  src: url('font/Miama.ttf') format('truetype');
  font-display: swap;
}

@theme {
  --color-brand-gold: #E9AE41;
  --font-niagara: 'Niagara Solid', serif;
  --font-miama: 'Miama', cursive;
}
